In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Yorko/mlcourse_open/master/data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 12 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
dtypes: float64(1), int64(11)
memory usage: 6.9 MB
None

In [5]:
df[df['gender']==1].count()

age            45530
gender         45530
height         45530
weight         45530
ap_hi          45530
ap_lo          45530
cholesterol    45530
gluc           45530
smoke          45530
alco           45530
active         45530
cardio         45530
dtype: int64

In [6]:
df[df['gender']==2].count()

age            24470
gender         24470
height         24470
weight         24470
ap_hi          24470
ap_lo          24470
cholesterol    24470
gluc           24470
smoke          24470
alco           24470
active         24470
cardio         24470
dtype: int64

In [7]:
df[df['gender']==1]['alco'].mean()

0.02549967054689216

In [8]:
df[df['gender']==2]['alco'].mean()

0.10637515324887617

In [9]:
df[df['gender']==2]['alco'].count(normalize=True)

TypeError: count() got an unexpected keyword argument 'normalize'

In [10]:
df[df['gender']==2]['alco'].value_count(normalize=True)

AttributeError: 'Series' object has no attribute 'value_count'

In [11]:
df[df['gender']==2]['alco'].value_counts(normalize=True)

0    0.893625
1    0.106375
Name: alco, dtype: float64

In [12]:
df[df['gender']==2]['alco'].value_counts(normalize=True)/df[df['gender']==1]['alco'].value_counts(normalize=True)

0    0.917008
1    4.171629
Name: alco, dtype: float64

In [13]:
df[df['gender']==2]['smoke'].value_counts(normalize=True)/df[df['gender']==1]['smoke'].value_counts(normalize=True)

0     0.795321
1    12.257833
Name: smoke, dtype: float64

In [14]:
df[df['smoke']==1]['age'].median()

19125.0

In [15]:
df[df['smoke']==1]['age'].median()-df[df['smoke']==0]['age'].median()

-597.0

In [16]:
(df[df['smoke']==1]['age'].median()-df[df['smoke']==0]['age'].median())/30

-19.9

In [17]:
e=12.25
e.round()

AttributeError: 'float' object has no attribute 'round'

In [18]:
round(12.25)

12

In [19]:
60 in (60:64)

SyntaxError: invalid syntax (<ipython-input-19-af20c5356606>, line 1)

In [20]:
60 in [60:64]

SyntaxError: invalid syntax (<ipython-input-20-a6eb85071bb4>, line 1)

In [21]:
60 in (60,64)

True

In [22]:
64 in (60,64)

True

In [23]:
59 in (60,64)

False

In [24]:
df['age_years']=round(df['age']/365.25)

In [25]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0

In [30]:
df[df['cardio']==1].value_counts(normalize=True)

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [33]:
df[df['age_years'] in (60,64)].count()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [47]:
s1=df[(df['age_years'] <=64) & (df['age_years'] >=60) & (df['smoke']==1) &(df['cholesterol']==1) & df['ap_hi'] < 120 ]['cardio'].value_counts(normalize=True)

In [50]:
s2=df[(df['age_years'] <=64) & (df['age_years'] >=60) & (df['smoke']==1) &(df['cholesterol']==3) & (df['ap_hi'] < 180) & (df['ap_hi']>=160) ]['cardio'].value_counts(normalize=True)

In [48]:
s1

0    0.5003
1    0.4997
Name: cardio, dtype: float64

In [51]:
s2

1    0.884615
0    0.115385
Name: cardio, dtype: float64

In [52]:
s2/s1

0    0.230631
1    1.770293
Name: cardio, dtype: float64

In [58]:
df['BMI']=df['weight']/(df['height']/100*df['height']/100)

In [59]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0,23.011177

In [60]:
df['BMI'].median()

26.374068120774975

In [62]:
df[df['gender']==1]['BMI'].mean()

27.98758344183312

In [63]:
df[df['gender']==2]['BMI'].mean()

26.75444235728947

In [64]:
df[df['cardio']==0]['BMI'].mean()

26.54817520679475

In [65]:
df[df['cardio']==1]['BMI'].mean()

28.566060627015435

In [85]:
df[(df['cardio']==0) &(df['gender']==2)&(df['alco']==0) ]['BMI'].mean()

25.872638075460173

In [86]:
df[(df['cardio']==0) &(df['gender']==1)&(df['alco']==0) ]['BMI'].mean()

26.845406594131518

In [69]:
df['height'].quantile(0.25)

159.0

In [84]:
df[(df['ap_lo']>df['ap_hi']) | (df['height']<df['height'].quantile(0.025)) | (df['height']>df['height'].quantile(0.975))|(df['weight']<df['weight'].quantile(0.025)) | (df['weight']>df['weight'].quantile(0.975))].count()/df.count()

age            0.0963
gender         0.0963
height         0.0963
weight         0.0963
ap_hi          0.0963
ap_lo          0.0963
cholesterol    0.0963
gluc           0.0963
smoke          0.0963
alco           0.0963
active         0.0963
cardio         0.0963
age_years      0.0963
BMI            0.0963
dtype: float64

In [82]:
df[(df['ap_lo']>df['ap_hi'])]

age            1234
gender         1234
height         1234
weight         1234
ap_hi          1234
ap_lo          1234
cholesterol    1234
gluc           1234
smoke          1234
alco           1234
active         1234
cardio         1234
age_years      1234
BMI            1234
dtype: int64

In [83]:
6741/70000

0.0963